@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.left-links,
.right-links {
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.footer {
  background: #eee;
}

a {
  color: #574c3e;
  text-decoration: none;
}

button {
  background: #eee;
  border-radius: 8px;
  border: none;
  font-family: Roboto, sans-serif;
  padding: 8px 16px;
}

img {
  width: 600px;
}

input {
  border-radius: 16px;
  border: 1px solid #ddd;
  margin-bottom: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
   list-style-type: none;
}