body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  background: #fff;
  border: 10px solid white;
  margin: 16px auto;
  width: 400px;
}

.title,
.content,
.button-container {
  background: #e3f4ff;
  padding: 10px;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
}

.button-container {
  margin-top: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0px auto;
  padding: 10px 20px;
}